# ---- Database ----
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/f17erp?schema=public"

# ---- App ----
NODE_ENV=development
PORT=3000
APP_URL=http://localhost:3000
WEB_URL=http://localhost:4200

# ---- Auth ----
JWT_ACCESS_SECRET=change_me_access_secret
JWT_REFRESH_SECRET=change_me_refresh_secret
JWT_ACCESS_TTL=15m
JWT_REFRESH_TTL=30d

# ---- Telegram ----
TELEGRAM_BOT_TOKEN=
TELEGRAM_WEBHOOK_SECRET=
TELEGRAM_MINIAPP_URL=
TELEGRAM_USE_POLLING=true

# ---- Seed ----
SEED_SUPERADMIN_LOGIN=bobur
SEED_SUPERADMIN_PASSWORD=Admin!2026
