node_modules/
dist/
.angular/
tmp/
out-tsc/
coverage/
.env
.env.local
*.log
npm-debug.log*
.DS_Store
Thumbs.db
apps/web/dist/
apps/api/dist/
apps/api/uploads/
.idea/
.vscode/*
!.vscode/extensions.json
